<div class="mp-input">
  <div class="form-group">
    <label>{{ label }}</label>
    <div [ngSwitch]="type" class="mp-input__field" [ngClass]="{'mp-input__field--error': showErrors}">
      <input
        *ngSwitchCase="'text'"
        class="form-control"
        [ngClass]="{required: isRequired}"
        [formControl]="control"
      />
      <textarea
        *ngSwitchCase="'textarea'"
        class="form-control"
        [ngClass]="{required: isRequired}"
        [formControl]="control"
        rows="4"></textarea>
    </div>
  </div>

  <div *ngIf="showErrors" class="alert alert-danger">
    <span *ngIf="control.errors.required">
      {{ 'shared.validation.error-required' | translate }}.
    </span>
    <span *ngIf="control.errors.minlength">
      {{ 'shared.validation.error-min-length' | translate: {
      actualLength: control.errors.minlength.actualLength,
      requiredLength: control.errors.minlength.requiredLength
    } }}
    </span>
    <span *ngIf="control.errors.maxlength">
      {{ 'shared.validation.error-max-length' | translate: {
      actualLength: control.errors.maxlength.actualLength,
      requiredLength: control.errors.maxlength.requiredLength
    } }}
    </span>
    <span *ngIf="control.errors.pattern">
      {{ 'shared.validation.error-pattern' | translate }}
    </span>
  </div>
</div>
