@import 'partials/base';

.mp-loading-indicator {
  background-color: $transparent-white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  > div {
    font-size: 40px;
    color: $black;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
