<div class="mp-course-edit">
  <mp-breadcrumb [activeLabel]="breadcrumbLabel"></mp-breadcrumb>
  <div class="mp-course-edit__content">
    <div class="container">

      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <mp-text-input
          [label]="'pages.courses.edit.title' | translate"
          [control]="nameControl">
        </mp-text-input>

        <mp-text-input
          [label]="'pages.courses.edit.description' | translate"
          [control]="descriptionControl"
          type="textarea">
        </mp-text-input>

        <mp-duration-input
          [label]="'pages.courses.edit.length' | translate"
          formControlName="length">
        </mp-duration-input>

        <div *ngIf="isValidControl(lengthControl)" class="alert alert-danger">
          <span *ngIf="lengthControl.errors.required">
            {{ 'shared.validation.error-required' | translate }}.
          </span>
          <span *ngIf="lengthControl.errors.rangeError">
            {{ 'shared.validation.error-range' | translate }}
            {{ lengthControl.errors.rangeError.min }} - {{ lengthControl.errors.rangeError.max }}
          </span>
        </div>

        <mp-date-input label="Date" formControlName="date"></mp-date-input>
        <div *ngIf="isValidControl(dateControl)" class="alert alert-danger">
          <span *ngIf="dateControl.errors.formatError">
            {{ 'shared.validation.error-date' | translate }}: dd/mm/yyy
          </span>
        </div>

        <div class="form-group">
          <label for="top-rated">{{ 'pages.courses.edit.top-rated' | translate }}</label>
          <input id="top-rated" formControlName="topRated" type="checkbox">
        </div>

        <mp-authors-control formControlName="authors" [authors]="authors$ | async"></mp-authors-control>
        <div *ngIf="isValidControl(authorsControl)" class="alert alert-danger">
          <span *ngIf="authorsControl.errors.required">
            {{ 'shared.validation.error-required' | translate }}.
          </span>
        </div>

        <div class="mp-course-edit__buttons">
          <button type="button" class="btn btn-danger" (click)="onCancelClick()">
            {{ 'pages.courses.edit.cancel-button' | translate }}
          </button>
          <button type="submit" class="btn btn-success" [disabled]="courseForm.invalid">
            {{ 'pages.courses.edit.save-button' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

