<header class="mp-header">
  <div class="container">
    <div class="mp-header__container">
      <a class="mp-header__logo-block" routerLink="/">
        <div class="mp-header__logo"></div>
        <span class="mp-header__title">Video course</span>
      </a>

      <div *ngIf="authBlockVisible" class="mp-header__auth-block">
        <ng-container *ngIf="(user$ | async) as userInfo; else notAuth">
          <span>{{userInfo?.login}} |</span>
          <a (click)="logout()" class="mp-header__logout-btn" href="javascript:void(0);">
            Log out
          </a>
        </ng-container>

        <ng-template #notAuth>
          <a routerLink="/login" class="mp-header__login-btn">
            Log in
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</header>
