@import 'partials/base';

.mp-header {
  color: $white;
  background: $background-nav;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__logo-block {
    align-items: center;
    display: flex;
    text-decoration: none;
  }

  &__logo {
    box-sizing: border-box;
    border-color: #B4D084;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;

    &::after {
      content: '';
      display: block;
      border-left: 16px solid lightblue;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -6px;
    }
  }

  &__title {
    color: $white;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    text-transform: uppercase;
  }

  &__auth-block {
    font-size: 14px;

    a {
      @include link-color($white, $white, $white, $white);
    }
  }
}
