:host {
  display: block;
}

.mp-course-list {
  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__load-more {
    display: block;
    margin-top: 20px;
    text-align: center;

    a {
      text-transform: uppercase;
    }
  }
}


