<div *ngIf="!courses?.length; else notEmpty">
  No data. Feel free to add a new course.
</div>
<ng-template #notEmpty>
  <div class="mp-course-list">
    <div class="mp-course-list__items">
      <mp-course-item
        *ngFor="let course of courses; trackBy: trackByCourses"
        [course]="course"
        (courseDelete)="onCourseDelete($event)"
        class="mp-course-list__item"
      >
      </mp-course-item>
    </div>
    <div class="mp-course-list__load-more">
      <a href="javascript:void(0)" (click)="onLoadMoreClick()">
        {{ 'pages.courses.home.load-more' | translate }}
      </a>
    </div>
  </div>
</ng-template>
