<div
  class="mp-course"
  [mpHighlightFresh]="course.createdAt"
  [ngClass]="{'mp-course--top-rated': course.topRated}"
>
  <div class="row">
    <div class="mp-course__info col-10">
      <div class="mp-course__heading">
        <div class="mp-course__title">
          {{course.title | uppercase}}
          <span *ngIf="course.topRated" class="mp-course__top-rated"></span>
        </div>

        <div class="mp-course__time">
          <div class="mp-course__duration">
            {{course.duration | duration}}
          </div>
          <div class="mp-course__created-at">
            {{course.createdAt | date:'d MMM, y'}}
          </div>
        </div>
      </div>
      <div class="mp-course__description">{{course.description}}</div>
    </div>
    <div class="mp-course__controls col-2">
      <mp-button (click)="onEditClick()">Edit</mp-button>
      <mp-button (click)="onDeleteClick()">Delete</mp-button>
    </div>
  </div>
</div>
