<a
  class="mp-course"
  [routerLink]="[course.id]"
  [mpHighlightFresh]="course.date"
  [ngClass]="{'mp-course--top-rated': course.isTopRated}"
>
  <div class="row">
    <div class="mp-course__info col-10">
      <div class="mp-course__heading">
        <div class="mp-course__title">
          {{course.name | uppercase}}
          <span *ngIf="course.isTopRated" class="mp-course__top-rated"></span>
        </div>

        <div class="mp-course__time">
          <div class="mp-course__duration">
            {{course.length | duration}}
          </div>
          <div class="mp-course__created-at">
            {{course.date | date:'d MMM, y'}}
          </div>
        </div>
      </div>
      <div class="mp-course__description">{{course.description}}</div>
    </div>
    <div class="mp-course__controls col-2">
      <a [routerLink]="[course.id,'edit']" class="btn btn-primary">Edit</a>
      <button (click)="onDeleteClick($event)" class="btn btn-primary">Delete</button>
    </div>
  </div>
</a>
