<div class="mp-breadcrumb">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a
            [routerLink]="breadcrumb.url"
            class="breadcrumb-item__link"
            routerLinkActive="breadcrumb-item__link--active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            {{ breadcrumb.label }}
          </a>
        </li>
      </ol>
    </nav>

    <ol>

    </ol>
  </div>
</div>
