.mp-courses {
  &__content {
    background: #F5F6FA;
    padding: 20px 0;
  }

  mp-search-course {
    margin-bottom: 20px;
  }

  mp-add-course {
    margin-bottom: 20px;
  }

  mp-course-list {
    margin-bottom: 20px;
  }
}
